
<section class="custom-form container-sm p-4 w-50 mt-4 border rounded border-dark">
    <h2 class=" text-center">Registro de Usuarios</h2>
    <form (ngSubmit)="onSubmit()">
        <section class="form-group m-2">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="datos.name" name="name">
        </section>
   
        <section class="form-group m-2">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="datos.username" name="username">
        </section>
        <section class="form-btn m-2">
            <input type="submit" class="btn btn-danger" value="Submit">
        </section>
    </form>
</section>